<b>Import Data</b>

Data Criteria:<br>
(1) Minimum 5000 unique post for each sub-reddits<br>
(2) Must be a text post<br>
(3) Each post can't be too short (minimum 20 words)<br>
(4) The selected subreddits can't be too different

In [1]:
import requests
import pandas as pd
import numpy as np

In [2]:
url = "https://api.pushshift.io/reddit/search/submission"

<b>Define Initial Cleaning Process</b>

In [3]:
def cleaning(line):
    
    line = str(line)
    
    line = line.replace('\n', ' ') #remove nextline
    
    line = line.replace("’", "'") #replace ’ as '
    
    line = re.sub(r'http\S+', '', line) #remove URL
    
    line = line.replace("&amp;", "&") #replace '&amp; as ampersand
    
    line = line.replace("#x200B;", " ") #replace '&amp; as space

    if line == '[removed]': #replace [removed] as blank
        line = np.nan
        
    if line == 'nan':
        line = np.nan
            
    return line

In [10]:
#intiate cut-off end date (17 Nov 2022, 23:59:59) 1668470399
#when error occured while obtaining data, will update this timestamp to continue with the download
timestamp = 1668470399

In [11]:
# initiate loop to get data for r/ableton in batches

n = 1

while int(timestamp) > 1636934399: #set to 1 year (17 Nov 2021, 23:59:59)

    params = {'subreddit' : 'ableton', 'size': 500, 'before': timestamp,} #subreddit code change accordingly
    res = requests.get(url, params)
    res.status_code
    data = res.json()
    df = pd.DataFrame(data['data'])
    
    timestamp = df[-1:]['created_utc']
    
    print(timestamp)
    
    params = {'subreddit' : 'ableton', 'size': 500,'before': timestamp,}

    df['selftext'] = df['selftext'].apply(cleaning)

    df['wordcount'] = [len(re.findall(r'\w+', str(i))) for i in df['selftext']]

    df = df.drop(df[df.wordcount < 20].index)
   
    if n == 1:
        df_main = df
    else:
        df_main = pd.concat([df_main, df])

    print("Iternation: " + str(n) + 
          " Valid Rows: " + str(df.shape[0]) + 
          " Cummulated Rows: " + str(df_main.shape[0]))
        
    n += 1

249    1668004553
Name: created_utc, dtype: int64
Iternation: 1 Valid Rows: 149 Cummulated Rows: 149
248    1667470593
Name: created_utc, dtype: int64
Iternation: 2 Valid Rows: 151 Cummulated Rows: 300
248    1666921175
Name: created_utc, dtype: int64
Iternation: 3 Valid Rows: 139 Cummulated Rows: 439
249    1666381560
Name: created_utc, dtype: int64
Iternation: 4 Valid Rows: 165 Cummulated Rows: 604
249    1665835704
Name: created_utc, dtype: int64
Iternation: 5 Valid Rows: 154 Cummulated Rows: 758
248    1665159353
Name: created_utc, dtype: int64
Iternation: 6 Valid Rows: 176 Cummulated Rows: 934
249    1664623835
Name: created_utc, dtype: int64
Iternation: 7 Valid Rows: 170 Cummulated Rows: 1104
249    1664034776
Name: created_utc, dtype: int64
Iternation: 8 Valid Rows: 151 Cummulated Rows: 1255
249    1663350537
Name: created_utc, dtype: int64
Iternation: 9 Valid Rows: 162 Cummulated Rows: 1417
248    1662755596
Name: created_utc, dtype: int64
Iternation: 10 Valid Rows: 164 Cummulated Rows: 1581
248    1662109624
Name: created_utc, dtype: int64
Iternation: 11 Valid Rows: 174 Cummulated Rows: 1755
249    1661407621
Name: created_utc, dtype: int64
Iternation: 12 Valid Rows: 162 Cummulated Rows: 1917
249    1660845836
Name: created_utc, dtype: int64
Iternation: 13 Valid Rows: 172 Cummulated Rows: 2089
249    1660215966
Name: created_utc, dtype: int64
Iternation: 14 Valid Rows: 160 Cummulated Rows: 2249
249    1659621257
Name: created_utc, dtype: int64
Iternation: 15 Valid Rows: 165 Cummulated Rows: 2414
248    1658987196
Name: created_utc, dtype: int64
Iternation: 16 Valid Rows: 158 Cummulated Rows: 2572
249    1658397085
Name: created_utc, dtype: int64
Iternation: 17 Valid Rows: 161 Cummulated Rows: 2733
249    1657828884
Name: created_utc, dtype: int64
Iternation: 18 Valid Rows: 154 Cummulated Rows: 2887
249    1657250240
Name: created_utc, dtype: int64
Iternation: 19 Valid Rows: 145 Cummulated Rows: 3032
248    1656687664
Name: created_utc, dtype: int64
Iternation: 20 Valid Rows: 167 Cummulated Rows: 3199
249    1656083649
Name: created_utc, dtype: int64
Iternation: 21 Valid Rows: 161 Cummulated Rows: 3360
249    1655488624
Name: created_utc, dtype: int64
Iternation: 22 Valid Rows: 158 Cummulated Rows: 3518
248    1654923333
Name: created_utc, dtype: int64
Iternation: 23 Valid Rows: 168 Cummulated Rows: 3686
248    1654349850
Name: created_utc, dtype: int64
Iternation: 24 Valid Rows: 149 Cummulated Rows: 3835
249    1653753936
Name: created_utc, dtype: int64
Iternation: 25 Valid Rows: 177 Cummulated Rows: 4012
248    1653084505
Name: created_utc, dtype: int64
Iternation: 26 Valid Rows: 160 Cummulated Rows: 4172
248    1652515903
Name: created_utc, dtype: int64
Iternation: 27 Valid Rows: 139 Cummulated Rows: 4311
249    1651888744
Name: created_utc, dtype: int64
Iternation: 28 Valid Rows: 160 Cummulated Rows: 4471
248    1651338070
Name: created_utc, dtype: int64
Iternation: 29 Valid Rows: 164 Cummulated Rows: 4635
249    1650740166
Name: created_utc, dtype: int64
Iternation: 30 Valid Rows: 152 Cummulated Rows: 4787
249    1650066540
Name: created_utc, dtype: int64
Iternation: 31 Valid Rows: 167 Cummulated Rows: 4954
249    1649442889
Name: created_utc, dtype: int64
Iternation: 32 Valid Rows: 165 Cummulated Rows: 5119
249    1648976225
Name: created_utc, dtype: int64
Iternation: 33 Valid Rows: 139 Cummulated Rows: 5258
249    1648413315
Name: created_utc, dtype: int64
Iternation: 34 Valid Rows: 152 Cummulated Rows: 5410
249    1647887720
Name: created_utc, dtype: int64
Iternation: 35 Valid Rows: 155 Cummulated Rows: 5565
249    1647411196
Name: created_utc, dtype: int64
Iternation: 36 Valid Rows: 148 Cummulated Rows: 5713
249    1646834528
Name: created_utc, dtype: int64
Iternation: 37 Valid Rows: 161 Cummulated Rows: 5874
248    1646239213
Name: created_utc, dtype: int64
Iternation: 38 Valid Rows: 169 Cummulated Rows: 6043
248    1645671646
Name: created_utc, dtype: int64
Iternation: 39 Valid Rows: 163 Cummulated Rows: 6206
248    1645138298
Name: created_utc, dtype: int64
Iternation: 40 Valid Rows: 161 Cummulated Rows: 6367
248    1644592953
Name: created_utc, dtype: int64
Iternation: 41 Valid Rows: 152 Cummulated Rows: 6519
248    1644075669
Name: created_utc, dtype: int64
Iternation: 42 Valid Rows: 158 Cummulated Rows: 6677
249    1643633165
Name: created_utc, dtype: int64
Iternation: 43 Valid Rows: 153 Cummulated Rows: 6830
249    1643075184
Name: created_utc, dtype: int64
Iternation: 44 Valid Rows: 163 Cummulated Rows: 6993
249    1642566532
Name: created_utc, dtype: int64
Iternation: 45 Valid Rows: 161 Cummulated Rows: 7154
248    1642097653
Name: created_utc, dtype: int64
Iternation: 46 Valid Rows: 157 Cummulated Rows: 7311
249    1641620850
Name: created_utc, dtype: int64
Iternation: 47 Valid Rows: 182 Cummulated Rows: 7493
249    1641070586
Name: created_utc, dtype: int64
Iternation: 48 Valid Rows: 153 Cummulated Rows: 7646
249    1640558796
Name: created_utc, dtype: int64
Iternation: 49 Valid Rows: 171 Cummulated Rows: 7817
249    1639957374
Name: created_utc, dtype: int64
Iternation: 50 Valid Rows: 168 Cummulated Rows: 7985
248    1639349431
Name: created_utc, dtype: int64
Iternation: 51 Valid Rows: 173 Cummulated Rows: 8158
249    1638804159
Name: created_utc, dtype: int64
Iternation: 52 Valid Rows: 158 Cummulated Rows: 8316
249    1638281786
Name: created_utc, dtype: int64
Iternation: 53 Valid Rows: 161 Cummulated Rows: 8477
248    1637781860
Name: created_utc, dtype: int64
Iternation: 54 Valid Rows: 168 Cummulated Rows: 8645
249    1637274352
Name: created_utc, dtype: int64
Iternation: 55 Valid Rows: 159 Cummulated Rows: 8804
249    1636725884
Name: created_utc, dtype: int64
Iternation: 56 Valid Rows: 160 Cummulated Rows: 8964

In [12]:
df_main = df_main.drop_duplicates(subset='selftext', keep="first")
print("Final Rows After Deduplication: " + str(df_main.shape[0]))

Final Rows After Deduplication: 8877

In [13]:
df_main.to_csv(r'ableton_data.csv', index=False)